@import "pod-styles";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,400i,700i');

html, body {
  margin: 0;
  padding: 0;
  background: #230F2B;
  color: #EBEBBC;
}

html, body, body > .ember-view, .video-layout {
  width: 100%;
  height: 100%;
}

// Colors from http://www.colourlovers.com/palette/678929/War
