{{#if startedVideo}}
  {{video-layout}}
{{else}}
  <div class="start-container">
    <div class="help-text">
      <p>This video is called <em>Decisions</em>. You will be presented with a series of situations and these situations will all require Decisions. This video operates on the assumption that the word <em>situation</em> entails the concept of <em>Decision</em>. In other words, to be <em>situated</em> is to <em>have decided</em> AND to <em>need to decide</em>. </p> 

      <p>If you decide to choose option 1, text the number “1” to <b>(415) 965-7251</b>. For the second option, text “2”. Before starting the video, input this number into your phone and save the contact as “Decisions.” That way you will not forget.</p>

      <p>If you do not make a Decision, a Decision will be made for you.</p>

      <p>Finally, <em>Decisions</em> wants you to know that it trusts you. Good luck.</p>
    </div>
    <div class="start-btn bordered-box" {{action "startVideo"}}>Begin.</div>
  </div>
{{/if}}
